{% load static %}
<html>
    <head>
        <link rel="stylesheet" type = 'text/css' href= "{% static 'authentication\about.css' %}">
    </head>
<body>

<div class="about-section">
  <div>    
    <input id = "searchbar" type="text" placeholder="Search..">
  </div>
    <h1>About Us</h1>
    <p>We are sudyog team Known for our hospitality.</p>
    <p>We are here to Help you.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Name</h2>
          <p class="title">CEO</p>
          <p> He has an expierence of 30+ years</p>
          <p>Yogesh@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Name</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="" alt="John" style="width:100%">
        <div class="container">
          <h2>Name</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
