{% load static %}
<!doctype html>
<html>
  <head>
    <title>This is the title of the webpage!</title>
    <link rel="stylesheet" type = 'text/css' href= "{% static 'authentication\index.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <form action = '/signin' method="POST">
        {% csrf_token %}
            <label for= ''>Username</label>
            <input type = 'text' id = 'username' name = 'username' placeholder = 'Create Username (only letter and number are allowed' required>
            <br>

            <label for= ''>Password</label>
            <input type = 'password' id = 'pass1' name = 'pass1' placeholder = 'Enter password' required>
            <br>
         
            <button type ='submit' > Sign In </button>
    </form>
    </body>
</html>


